.featuredVehicles {
  &_container {
    position: relative;
    margin: 50px 0 82px 0;
  }

  &_slider {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &_container {
      backface-visibility: hidden;
      display: flex;
      touch-action: pan-y;
      height: 100%;
      position: relative;
    }

    &_item {
      flex: 0 0 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 130px;

      @include breakpoint(medium) {
        flex: 0 0 60%;
        flex-flow: column;
        max-width: 900px;
        padding-bottom: 23px;
      }

      &_image {
        @include breakpoint(medium) {
          transform: scale(0.7);
          transition: transform 0.3s ease-in-out;
        }
      }

      &_content {
        position: absolute;
        padding: 30px 16px 16px 16px;
        max-width: 430px;
        margin: 0 auto;

        @include breakpoint(small) {
          bottom: 0;
          left: 10px;
          right: 10px;
        }

        @include breakpoint(medium) {
          position: relative;
          margin-top: -7vw;
          padding: 16px;
          font-size: rem(20);
          border-radius: 48px;
          box-shadow:
            0 8px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transform: scale(0.7);
          transition: transform 0.3s ease-in-out;
        }

        @include breakpoint(large) {
          padding: 24px;
          font-size: rem(24);
        }

        &:before {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 24px;
          background: url(/assets/glass.png);
          background-size: cover;
          z-index: -1;
          @include breakpoint(medium) {
            border-radius: 48px;
            opacity: 0.8;
          }
        }
      }

      &_title {
        color: white;
        font-size: rem(18);
        font-weight: var(--font-medium);
        white-space: pre-wrap;

        @include breakpoint(medium) {
          font-size: rem(24);
        }
      }

      &_button {
        margin-top: rem(10);
        cursor: pointer;

        @include breakpoint(medium) {
          margin-top: rem(20);
        }
      }

      &.active {
        @include breakpoint(medium) {
          .featuredVehicles_slider_item {
            &_content,
            &_image {
              transform: scale(1);
            }
          }
        }
      }
    }

    &_arrows {
      @include breakpoint(medium) {
        display: flex;
        justify-content: center;
        gap: 16px;

        button {
          position: static;
          height: 40px;
          width: 40px;
          transform: none;

          &:nth-child(2) {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
